{% extends 'base.html' %}
{% load media_tags %}

{% block title %}Блог - ElectroHub{% endblock %}

{% block content %}
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h1>Блог</h1>
            {% if user.is_authenticated and can_add_post %}
                <a href="{% url 'blog:blog_create' %}" class="btn btn-success">Создать новую запись</a>
            {% endif %}
        </div>


        <div class="row">
            {% for post in blog_posts %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        {% if post.preview %}
                            <img src="{{ post.preview.url }}" class="card-img-top" alt="{{ post.title }}" style="max-height: 200px; object-fit: contain;">
                        {% endif %}
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p class="card-text">{{ post.content|truncatechars:100 }}</p>
                            <div class="mt-auto">
                                <a href="{% url 'blog:blog_detail' pk=post.pk %}" class="btn btn-primary btn-sm">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}