{% extends 'base.html' %}
{% load media_tags %}
{% block title %}{{ category.name }} - ElectroHub{% endblock %}

{% block content %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">{{ category.name }}</h1>
        <p class="lead">Товары из категории {{ category.name }} по выгодным ценам.</p>
    </div>

    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2>Товары в категории {{ category.name }}:</h2>
        </div>
        <div class="row">
            {% for product in products %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        {% if product.image %}
                            <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}" style="max-height: 200px; object-fit: contain;">
                        {% endif %}
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">Категория: {{ product.category.name }}</p>
                            <p class="card-text">{{ product.description|truncatechars:100 }}</p>
                            <p class="card-text">Цена: {{ product.purchase_price }}</p>
                            <a href="{% url 'catalog:product_detail' pk=product.pk %}" class="btn btn-primary mt-auto">Подробнее</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}